<%- include("partials/header.ejs") %>

<div class="clouds">
    <div class="cloud"> <img src="cloudy.png" alt="clouds" width="350rem"> </div>
    <div class="cloud"> <img src="cloudy-flipped.png" alt="clouds" width="350rem"> </div>
    <div class="cloud"> <img src="cloudy.png" alt="clouds" width="350rem"> </div>
    <div class="cloud"> <img src="cloudy-flipped.png" alt="clouds" width="350rem"> </div>
</div>

<div class="delete">

    <div class="intro">
        Delete a story: 
    </div>

</div>



<%- include("partials/footer.ejs") %>