<main>
    <div class="clouds">
        <div class="cloud"> <img src="cloudy.png" alt="clouds" width="350rem"> </div>
        <div class="cloud"> <img src="cloudy-flipped.png" alt="clouds" width="350rem"> </div>
        <div class="cloud"> <img src="cloudy.png" alt="clouds" width="350rem"> </div>
        <div class="cloud"> <img src="cloudy-flipped.png" alt="clouds" width="350rem"> </div>
    </div>
    <div class="footer">
        <img src="sunny-footer.png" alt="sun" width="600rem">
    </div>
</main>