
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Blogs of hearts ❤️</title>
</head>
<body>
    <div class="navbar">
        <div class="name-nav">
            <img src="heart1.png" alt="heart" height="36rem" id="logo"> Blogs of hearts
        </div>
        <div class="empty"></div>
        <div class="account">
            <button id="acc"> <img src="user.png" alt="acc" height="40rem"> </button>
        </div>
    </div>
</body>
</html>






