

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Blogs of hearts ❤️</title>
    
</head>
<body>
    <div class="header">
        <p id="heart" class="header-item"><img src="heart1.png" alt="heart" height="250rem"> </p>
        <p class="header-item name">Blogs of hearts </p>
        <p class="header-item caption"> Pour your hearts out...</p>
    </div>
</body>
</html>

<div class="middle">
    <div class="question">What Do You Feel Today?</div>
    <div class="buttoncontainer">

        <div class="button-div">
            
            <div>
                <p> <button onclick="location.href= 'read' " class="button"> <img src="read.png" alt="read" width="120rem">  </button>  </p>
            </div>
            <div>
                <p> <button onclick="location.href= 'write' " class="button"> <img src="write.png" alt="write" width="120rem">  </button>  </p>
            </div>
            <div>
                <p> <button onclick="location.href= 'update' " class="button"> <img src="update.png" alt="update" width="140rem"> </button>  </p>
            </div>
            <div>
                <p> <button onclick="location.href= 'delete' " class="button"> <img src="delete.png" alt="delete" width="120rem"> </button>  </p>
            </div>
            
            </div>
        </div>

    </div>

    
    

<%-  include("partials/footer.ejs") %>